@font-face {
  font-family: Puvi;
  src: url(fonts/Puvi_Regular.woff2);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Puvi;
  font-weight: 800;
  /* color: white; */
}

html,
body {
  width: 100%;
  height: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: red;
}

.left-section {
  float: left;
  width: 33%;
  margin-top: 100px;
  margin-left: 250px;
}

.right-section {
  float: right;
  width: 25%;
  margin-right: 100px;
}

ul {
  color: white;
  list-style-type: none;
}

li {
  display: inline-block;
  justify-content: space-around;
  color: white;
  margin-top: 36px;
  margin-left: 50px;
}

a {
  text-decoration: none;
}

#three-dots {
  width: 21px;
  height: 19px;
  margin-top: 38px;
  margin-left: 10px;
}

#search-bar {
  width: 30%;
  height: 30px;
  padding: 5px;
  padding-left: 15px;
  margin-top: 32px;
  border: 0;
  border-radius: 20px;
}

#magnifying-glass {
  height: 24px;
  margin-top: 35px;
}

#announcment {
  height: 24px;
  margin-top: 35px;
}

#globe {
  height: 24px;
  margin-top: 35px;
  margin-right: -51px;
}

#sign-up {
  width: 90px;
  height: 30px;
  margin-top: 32px;
}

#red-line {
  width: 5rem;
  margin: 1em;
  margin-left: 1em;
  margin-left: 0;
  color: red;
}

#get-started {
  width: 200px;
  height: 36px;
  margin-top: 15px;
  color: white;
  background-color: red;
  border: 0px;
}

#title-text {
  font-size: 50px;
}

#title-description {
  word-spacing: 4px;
  font-size: 25px;
  font-weight: 100;
}

.content {
  border: 2px solid black;
  margin-top: 90px;
  height: 550px;
  width: 300px;
  display: flex;
  flex-direction: y;
}
