* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}

html,
body {
  height: 100%;
  width: 100%;
}

.nav-bar {
  height: 100px;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.left-section {
  float: left;
  width: 75%;
}

.right-section {
  float: right;
  width: 25%;
}

ul {
  list-style-type: none;
  color: white;
}

li {
  margin-top: 36px;
  display: inline-block;
  justify-content: space-around;
  margin-left: 50px;
}

a {
  text-decoration: none;
}

#three-dots {
  height: 19px;
  width: 21px;
  margin-top: 38px;
  margin-left: 10px;
}

#search-bar {
  height: 20px;
  width: 30%;
  border-radius: 4px;
  margin-top: 38px;
}

#announcment {
  height: 36px;
  margin-top: 31px;
}

#globe {
  height: 36px;
  margin-top: 31px;
}
