@font-face {
  font-family: Puvi;
  src: url(fonts/Puvi_Regular.woff2);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* stylelint-disable-next-line */
  font-family: Puvi;
  font-weight: 800;
  /* color: white; */
}

html,
body {
  width: 100%;
  height: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  color: black;
  background-color: RGB(146, 168, 209);
  /* background-color: white; */
}

.left-section {
  float: left;
  width: 33%;
  margin-top: 100px;
  margin-left: 250px;
}

.right-section {
  display: flex;
  flex-direction: y;
  float: right;
  width: 25%;
  margin-right: 100px;
}

ul {
  color: black;
  list-style-type: none;
}

li {
  position: relative;
  display: inline-block;
  justify-content: space-around;
  margin-top: 38px;
  margin-left: 50px;
  overflow: hidden;
  color: black;
  background: linear-gradient(
    to right,
    midnightblue,
    midnightblue 50%,
    white 50%
  );
  background-position: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  transition: background-position 275ms ease;
}
li:hover {
  background-position: 0 100%;
}

a {
  text-decoration: none;
}

#three-dots {
  width: 21px;
  height: 19px;
  margin-top: 38px;
  margin-left: 10px;
}

#search-bar {
  width: 30%;
  height: 30px;
  padding: 5px;
  padding-left: 15px;
  margin-top: 32px;
  border: 0;
  border-radius: 20px;
}

#magnifying-glass {
  height: 24px;
  margin-top: 35px;
}

#announcment {
  height: 24px;
  margin-top: 35px;
}

#globe {
  height: 24px;
  margin-top: 35px;
  margin-right: -51px;
}

#sign-up {
  width: 90px;
  height: 30px;
  margin-top: 32px;
}

#red-line {
  width: 5rem;
  margin: 1em;
  margin-left: 1em;
  margin-left: 0;
  color: red;
}

#get-started {
  width: 200px;
  height: 36px;
  margin-top: 15px;
  color: white;
  background-color: red;
  border: 0px;
}

#title-text {
  font-size: 50px;
}

#title-description {
  font-size: 25px;
  font-weight: 100;
  word-spacing: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 550px;
  padding: 20px;
  margin-top: 90px;
  border: 1px solid black;
}

h4 {
  font-weight: 100;
}
.content > div {
  overflow: hidden;
  color: black;
  background: linear-gradient(
    to right,
    /* #6b5b95 50%, */ RGB(146, 168, 209),
    midnightblue 50%,
    midnightblue
  );
  background-color: black;
  background-position: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  transition: background-position 275ms ease;
}
.content > div:hover {
  background-position: 0 100%;
}
.dropbtn {
  background-color: #92A8D1;
  color: rgb(255, 251, 251);
  padding: 5px;
  font-size: 15px;
  border: none;
  font-weight: 10;
  margin-left: 10px;
  margin-bottom: 50px;
  
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  
  display: none;
  position: absolute;
  background-color: rgb(202, 197, 197);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(11, 11, 11, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(254, 250, 250);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #92A8D1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #92A8D1;
}